<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://use.fontawesome.com/3758e71cd8.js"></script>
    <script>
        document.title = '需要设置的值';    
        document.getElementsByTagName("title")[0].innerText = ' {{ info[0] }} |随机故事';
    </script>
    <title>随事</title>

<body style="background: url({{ bg }});">

    <div class="top">
        <p class="webtitle">随事</p>
        <a href="/about" class="aboutbox">
            <p class="about">关于</p>
        </a>
        <a href="https://github.com/yzyyz1387/storys/" class="github">
            <i class=" fa fa-github fa-3x" aria-hidden="true"></i> 
        </a>
    </div>
    <!-- 内容 -->
    <div class="container">
        <div class="title">
            <h3>{{ info[0] }}</h3>
            <p class="writer">{{info[1]}}</p>
        </div>
        <div class="content">
            <br>
            <p>
                {{ info[4] | safe }}
            </p>

        </div>
        <p class="derive">来源：{{ info[3] }} <a target="_blank" href="{{ info[2] }}">点此查看来源页</a> </p>
        <!-- 按钮 -->
        <div class="buttonbox">
            <a href="/" class="buttona">
                <div class="button">
                    <p class="more"> 再来一篇 </p>
                </div>
            </a>
        </div>
    </div>
    <!-- 内容结束 -->
<div class="imgtips">
    <p>
        图片来自Bing每日图片
    </p>
</div>

    <!-- 底部栏，运行信息及版权申明 -->
    <footer>
        <div class="copyright">
            <span id="timeDate" style="text-align: center">载入天数...</span><span id="times">载入时分秒...</span> | Copyright ©
            2021 <a href="https://yzyyz.top" target="_blank"> yzyyz.top </a>
        </div>
    </footer>
    <!-- 底部栏结束 -->


     <!-- 运行时间 -->   
    <script>
        var now = new Date();
        function createtime() {
            var grt = new Date("08/11/2021 12:46:38");
            now.setTime(now.getTime() + 250);
            days = (now - grt) / 1000 / 60 / 60 / 24; dnum = Math.floor(days);
            hours = (now - grt) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours);
            if (String(hnum).length == 1) { hnum = "0" + hnum; } minutes = (now - grt) / 1000 / 60 - (24 * 60 * dnum) - (60 * hnum);
            mnum = Math.floor(minutes); if (String(mnum).length == 1) { mnum = "0" + mnum; }
            seconds = (now - grt) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
            snum = Math.round(seconds); if (String(snum).length == 1) { snum = "0" + snum; }
            document.getElementById("timeDate").innerHTML = "已运行 " + dnum + " 天 ";
            document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒";
        }
        setInterval("createtime()", 250);
    </script>
</body>

</html>